**.d
**.o

maya.hdd

limine/
limine/**

ovmf-x64/
ovmf-x64/**

kernel/src/proc/
kernel/src/proc/**
kernel/src/include/proc/
kernel/src/include/proc/**

kernel/.ccls-cache
kernel/.ccls-cache/**

kernel/maya.elf

compile_commands.json

symtab.map
